*{
    margin: 0;
    padding: 0;
}

.titulo-principal {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    justify-content: center;
    color: #fff;
}

.titulo-inferior {
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #fff;
}

.como-comprar {
    text-transform: uppercase;
}

.titulo-comocom {
    margin-left: 25px;
}

.img-decoracion {
    width: 100%;
}

.iniciar-compra {
    text-transform: uppercase;
}

.titulo-comoini {
    margin-left: 25px;
}

.logo {
    width: 60px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
}

header nav ul li {
    margin-left: 2rem;
    text-decoration: none;
}

main {
    height: 100vh;
    width: 100%;
    background-color: #333;
    background-image: url(./Assets/decoracion\ del\ hogar\ 2\ .jpg);
    background-size: cover;
}

.container-principal {
    color: #fff;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid aqua;
    float: inline-start;
    margin: 20% 0% 0% 25%;
    padding-bottom: 15px;
}

.container-botones {
    padding: 2% 0px 0px 30%;
}

.boton-nosotros, .boton-productos {
    width: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 100px;
}

.boton-nosotros:hover, .boton-productos:hover {
    width: 160px;
    background-color: #588cd4;
    font-size: 25px;
    color: #000;
}

.link-boton {
    color: #fff;
    text-decoration: none;
}

#seccion1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: scroll;
}

.caja {
    height: 150px;
    width: 300px;
    background-color: aqua;
    border: 2px solid #000;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: #000;
    line-height: 120px;
}

.contenedor-items {
    border: 3px solid #000;
    display: grid;
    padding: 20px;
    background: #fff;

    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 320px 320px 320px;

    grid-column-gap: 2%; /*Espacio entre columnas*/
    grid-row-gap: 15px; /*Espacio entre filas*/
    grid-gap: 20px;
    }

    .item1 {
        border: 3px solid #000;
    }

.portajabon-img {
    width: 100%;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 180px);
    grid-template-areas: 
    "img1 img2 img3 img3"
    "img1 img4 img5 img6"
    "img7 img4 img8 img8";
    border: 2px solid #333;
    gap: 15px;
    padding: 20px;
}

.item{
    border: 2px solid #000;
    border-radius: 7px;
}

.item1 {
    grid-area: img1;
    background-image: url(./Assets/portajabon.avif);
    background-size: cover;
    background-position: center;
}

.item2 {
    grid-area: img2;
    background-image: url(./Assets/tazas.avif);
    background-size: cover;
    background-position: center;
}

.item3 {
    grid-area: img3;
    background-image: url(./Assets/pelotas-navidad.avif);
    background-size: cover;
    background-position: center;
}

.item4 {
    grid-area: img4;
    background-image: url(./Assets/almohadas.jpg);
    background-size: cover;
    background-position: center;
}

.item5 {
    grid-area: img5;
    background-image: url(./Assets/apoya-tazas.avif);
    background-size: cover;
    background-position: center;
}

.item6 {
    grid-area: img6;
    background-image: url(./Assets/flores-deco.avif);
    background-size: cover;
    background-position: center;
}

.item7 {
    grid-area: img7;
    background-image: url(./Assets/copa.avif);
    background-size: cover;
    background-position: center;
}

.item8 {
    grid-area: img8;
    background-image: url(./Assets/frascos.avif);
    background-size: cover;
    background-position: center;
}

.boton-compra {
    width: 50%;
    border-radius: 100px;
    text-transform: uppercase;
    background-color: #588cd4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    font-weight: 600;
    margin: 5% 0px 0px 0px;
}

.menu-despegable {
    list-style: none;
    background-color: bisque;
    padding: 20px;
}

.menu-despegable li {
    position: relative;
    display: flex;
    justify-content: center;
}

.menu-despegable li:hover ul {
    display: block;
}

.menu-despegable ul {
    display: none;
    position: absolute;
    top: 100%;
}

.menu-despegable li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding-top: 10px;
}

.img-icons {
    width: 30px;
    padding-left: 47%;
}

.img-icons a {
    padding-left: 20px;
}

.contenedor-imagen {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.img-cubiertos, .img-bandeja {
    padding-top: 10px;
    width: 200px;
}

.texto-carta {
    position: relative;
}